.logo {
  position: relative;
  padding: 0 24px;
  overflow: hidden;
}

.logo > span {
  display: flex;
  align-items: center;
  height: 64px;
}

.logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}

.headerlogo {
  display: inline-flex;
  align-items: center;
  height: 64px;
  padding: 0 0 0 24px;
  font-size: 20px;
  line-height: 64px;
  vertical-align: top;
}

.headerlogo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.trigger {
  padding: 0 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

:global(.ant-layout) {
  height: 100vh;
}

:global(.ant-layout-header) {
  margin-bottom: 1px;
  padding: 0;
  background-color: white;
}

:global(.ant-layout-sider) {
  height: 100vh;
}
